.App {
    max-width: 600px;
    margin: 30px auto;
    padding: 20px;
    font-family: 'Poppins', sans-serif;
    background-color: hsl(238, 63%, 71%, 0.5);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.App h1 {
    text-align: center;
    color: #000000;
    margin-bottom: 20px;
    font-size: 2rem;
    font-weight: 600;
}

.darkMode {
    background-color: #333;
    color: #fff;
}

.darkMode h1 {
    color: #fff;
}
